
<div *ngIf="dataSource" class="mat-elevation-z8">
  <header>
    <h1>Top Youtube Channels</h1>
  </header>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="      Filter">
  </mat-form-field>
<table mat-table [dataSource] = "dataSource" matSort >

  <ng-container matColumnDef = "rank">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank</th>
     <td mat-cell *matCellDef = "let element"> {{element.rank}} </td>
  </ng-container>
  <ng-container matColumnDef = "grade">
     <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade </th>
     <td mat-cell *matCellDef = "let element"> {{element.grade}} </td>
  </ng-container>
  <ng-container matColumnDef = "channel_name">
     <th mat-header-cell *matHeaderCellDef mat-sort-header>Channel Name</th>
     <td mat-cell *matCellDef = "let element"> {{element.channel_name}} </td>
  </ng-container>
  <ng-container matColumnDef = "video_uploads">
     <th mat-header-cell *matHeaderCellDef mat-sort-header>Video Uploads</th>
     <td mat-cell *matCellDef = "let element"> {{element.video_uploads}} </td>
  </ng-container>
  <ng-container matColumnDef = "subscribers">
     <th mat-header-cell *matHeaderCellDef mat-sort-header>Subscribers</th>
    <td mat-cell *matCellDef = "let element"> {{element.subscribers}} </td>
  </ng-container> 
  <ng-container matColumnDef = "video_views">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Video Views</th>
   <td mat-cell *matCellDef = "let element"> {{element.video_views}} </td>
 </ng-container> 
  <tr mat-header-row *matHeaderRowDef = "displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef = "let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>

</table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 50, 100, 200]">
  </mat-paginator>
</div>
<div>
  <ngx-spinner
    bdOpacity = 0.9
    bdColor = "#333"
    size = "large"
    color = "#fff"
    type = "ball-scale-pulse"
    fullScreen = "true">
    <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
